.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;
    position: relative;
    background-color: black;
}

#sec {
    position: absolute;
    height: 50%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stadium {
    height: 100%;
    overflow: hidden;
    filter: brightness(40%);
}